---
// filepath: /home/danlois/Development/Proyectos/En Desarrollo/pokemon-astro/src/components/Navbar.astro

const logoUrl = 'https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png';
---

<nav class="bg-blue-600 w-full">
  <div class="container mx-auto px-4 md:px-8 lg:px-16 flex items-center justify-between h-16">
    <a href="/" class="flex items-center">
      <img src={logoUrl} alt="Pokemon Logo" class="h-10" />
    </a>
  </div>
</nav>