---
// Importar stilos y bootstrap
import './src/styles/global.css';

// Importa las imágenes
const imagen1 = '/img-pokemons/poke-1.png';
const imagen2 = '/img-pokemons/poke-2.png';
const imagen3 = '/img-pokemons/poke-3.png';
---

<!-- estilos: -->
<style>
    .carousel-item img {
      width: 100%;
      height: 60vh; /* Ajusta la altura según tus necesidades */
      object-fit: cover; /* Esto asegura que la imagen cubra el área sin distorsionarse */
    }
  </style>


<!-- Slider de Bootstrap -->
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src={imagen1} class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src={imagen2} class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src={imagen3} class="d-block w-100" alt="Slide 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- jumbotron -->


    <!-- Jumbotron -->
    <div class=" text-white pt-20 px-6">
        <div class="max-w-4xl mx-auto text-center">
            <h1 class="text-5xl font-bold mb-4">
                ¡Bienvenidos a la Pokemon Api!
            </h1>
            <p class="text-xl mb-8">
                En esta aplicacion Observaras un listado de pokemons
            </p>
           
        </div>
       
    </div>

    <div class="max-w-4xl mx-auto mt-10 px-6">
        <h2 class="text-3xl font-bold mb-4 text-center text-blue-500">
            Listado de Pokemons
        </h2>
        
    </div>
    <!-- Contenido adicional -->
    


