---

/* plantilla de cabezal de html (apertura y cierre de etiqueta html ) */
import MainLayout from '../layouts/MainLayout.astro';

/* titulo de la pagina principal: */
const title = 'Pokemon app creada por Danlois';

---

<MainLayout title={title}>
	<h1 class="text-3xl text-blue-500">hola mundo!!</h1>	
</MainLayout>
