---


/* reset styles */
import '../styles/Normalizer.css';

/* global styles */
import '../styles/global.css';





/* definir props */
interface Props {
	title: string;
}
/* destructurar props */
const{ title }: Props =Astro.props;

/* importar componentes: */
import Navbar from '../components/Pokemons/Navbar.astro';
import SliderPokemon from '../components/Pokemons/SliderPokemon.astro';


---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-800 container-body--laoyout">
		<Navbar />
		<SliderPokemon/>
		<!-- contenido -->	
		<div class="container mx-auto">

			<slot />
		</div>
	</body>
</html>


<!-- importar bootstrap y JS -->
<script src="../js/main.js"></script>


